$primary-color: #f38181;
$secondary-color: #fce38a;
$head-prymary-color: #fff;
$head-secondary-color: #000;
$primary-text-color: #333;
$secondary-text-color: #999;
$team-card-color: #95e1d3;
$border-color: #e5e5e5;
$border-text-color: #e7e7e7;
$form-text-color: #ccc;
$opacity-color: rgba(0, 0, 0, 0);
$gradient: linear-gradient(
  0deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);
$head-height: 1000px;
$font-prymary: Montserrat;
$font-secondary: Roboto;
$font-specific: 'Kaushan Script';
